<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDGAM | Team Registration</title>


    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/events.css"><link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../carousel/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/hamberger.css">
    
    <!-- <link rel="icon" href=""> -->
    <link rel="icon" href="../static files/UDGAM logo (title).png" type="image/icon type">

    <!-- link for font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>


    <div class="main">
        <br>
        <br>
        <br>

        <div class="row  justify-content-between" style="display: flex; align-items: center;">
            <div class="col-3" style="display: flex;justify-content: start;">
                <button onclick="sliderPrev('reg')"><i class="fas fa-arrow-left" > </i></button>
            </div>
            <div class="col-2" style="display: flex;justify-content: center;">
                <span id="prev" class="event-link"></span>

            </div>
            <div class="col-2" style="display: flex;justify-content: center;">
                <span id="current" class="event-link"></span>

            </div>
            <div class="col-2" style="display: flex;justify-content: center;">
                <span id="next" class="event-link"></span>

            </div>
            <div class="col-3" style="display: flex;justify-content: end;">
                <button onclick="sliderNext('reg')"><i class="fas fa-arrow-right"  ></i></button>

            </div>
            

        </div>

        <div class="carousel">
            
            
            <section class="section-padding" style="padding-top: 120px; padding-bottom: 500px;">
                
                <span class="title">
                    Register for
                </span >
                <span class="title" id="reg-title" style="padding-left: 10px;">
                        
                </span>
                    
                    <!--
                        to be hidden (to make work main.js)
                    
                    <div id="page-header" style="display: none;" ></div>
                    <div id="reg-img" style="display: none;"></div>
                    <div id="paragraph" style="display: none;" ></div>
                    <div id="team" style="display: none;" ></div>
                    <div id="ev-date" style="display: none;" ></div>
                    <div id="reg-dead" style="display: none;"></div>
                    <div id="reg-link" style="display: none;"></div>
                    -->

                    <div class="container content">
                        <div class="row" style="justify-content: space-between;">
                            <form class="col-sm-6 RegistrationDetails" style="margin-top: 0%;">
                                <label for="leadername" class=" title-b ">LEADER NAME</label>
                                <input type="text" id="leadername" name="leadername"  >
                                <br>
                                <label for="leaderemailID" class=" title-b ">EMAIL ID</label>
                                <input type="text" id="leaderemailID" name="leaderemailID"  >
                                <br>
                                <label for="leaderphone" class=" title-b ">PHONE</label>
                                <input type="text" id="leaderphone" name="leaderphone" >
                                <br>
                            </form>
                            <div class="col-sm-5 ProfilePic page__img" id="page-img" >
                                <!-- <img  id="ProfilePic" height="200" width="400" src =""> -->
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="container content">
                        <div class="row" style="justify-content: space-between;">
                            <form class="col-sm-6 RegistrationDetails" style="margin-top: 0%; padding-right: 2vw;">
                                <label for="M1name" class=" title-b ">MEMBER 1 NAME</label>
                                <input type="text" id="M1name" name="M1name"  >
                                <br>
                                <label for="M1emailID" class=" title-b ">EMAIL ID</label>
                                <input type="text" id="M1emailID" name="M1emailID"  >
                                <br>
                                <label for="M1phone" class=" title-b ">PHONE</label>
                                <input type="text" id="M1phone" name="M1phone" >
                                <br>
                            </form>
                            <form class="col-sm-6 RegistrationDetails" style="margin-top: 0%; padding-left: 2vw;">
                                <label for="M2name" class=" title-b ">MEMBER 2 NAME</label>
                                <input type="text" id="M2name" name="M2name"  >
                                <br>
                                <label for="M2remailID" class=" title-b ">EMAIL ID</label>
                                <input type="text" id="M2emailID" name="M2emailID"  >
                                <br>
                                <label for="M2phone" class=" title-b ">PHONE</label>
                                <input type="text" id="M2phone" name="M2phone" >
                                <br>
                            </form>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="container content">
                        <div class="row" style="justify-content: space-between;">
                            <form class="col-sm-6 RegistrationDetails" style="margin-top: 0%; padding-right: 2vw;">
                                <label for="M3name" class=" title-b ">MEMBER 3 NAME</label>
                                <input type="text" id="M3name" name="M3name"  >
                                <br>
                                <label for="M3emailID" class=" title-b ">EMAIL ID</label>
                                <input type="text" id="M3emailID" name="M3emailID"  >
                                <br>
                                <label for="M3phone" class=" title-b ">PHONE</label>
                                <input type="text" id="M3phone" name="M3phone" >
                                <br><br>
                                <br>
                                
                            </form>
                            <form class="col-sm-6 RegistrationDetails" style="margin-top: 0%; padding-left: 2vw;">
                                <label for="M4name" class=" title-b ">MEMBER 4 NAME</label>
                                <input type="text" id="M4name" name="M4name"  >
                                <br>
                                <label for="M4remailID" class=" title-b ">EMAIL ID</label>
                                <input type="text" id="M4emailID" name="M4emailID"  >
                                <br>
                                <label for="M4phone" class=" title-b ">PHONE</label>
                                <input type="text" id="M4phone" name="M4phone" >
                                <br><br>
                                <br>
                                
                            </form>
                        </div>
                    </div>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="content" style="padding-top: 60px;">
                        <form action="">
                            
                                    <div class="form-row row justify-content-start" style="display: flex; justify-content: center; align-items: center;text-align: center;">
                                        <div class="form-group col-3" style="text-align: start;">
                                            <label for="" class=" title-b ">
                                                YOU HEARD US FROM
                                            </label>
                                        </div>
                                        
                                        <div class="form-group btn-group btn-group-toggle col-4" data-toggle="buttons">
                                            
                                                <label class="btn btn-secondary active">
                                                    <input type="radio" name="options" id="option1" onclick="showmore()"> CAMPUS AMBASSADOR
                                                </label>
                                                
                                            
                                                <label class="btn btn-secondary">
                                                    <input type="radio" name="options" id="option2" onclick="showless()"> SOCIAL MEDIA
                                                </label>

                                        </div>
                                        <div class="form-group CA-option col-5" id="CAReferral" style="text-align: center;">
                                            <div class="form-row">

                                                <label for="referral" class="col-6 title-b " >CA REFERRAL ID
                                                </label>
                                                <input type="text" class="form-control col-4" id="referral" placeholder="6969696">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-row " style="padding-top: 60px;">
                                        <div class="form-group">
                                            <label for="" style="padding-left: 5px;" class=" title-b ">
                                                Do you want to confirm your Registration?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="form-group col-md-6" >
                                            <div id="reg-link">
                                                <button type="button" class="btn btn-primary" style="width: 100%;">REGISTER & PAY</button>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <a href="/events">
                                                <button type="button" class="btn btn-light back-btn" style="color: white;width:100%">GO BACK</button>
                                            </a>
                                        </div>
                                    </div>
                                
                        </form>

                    </div>
            </section>
        

             <!-- footer -->
             <section>
                <hr style="margin: 0;background-color: white;">
    
                <div class="contactus" style="margin-bottom: 80px;margin-top: 50px;">
                    <div id="footer_main" class="container row">
                        <div id="" style="display: flex; width: 100%; padding-bottom:5%; padding-top:3%">
                            <div class="" style="font-style: Texta;">
                                <span style="font-size:200%">UDGAM 2022 </span><br>
                                <span>COSMOS OF ENDEAVOURS </span><br><br>
                                <span>FAQ • Contact us</span><br>
                                <span>udgam@iitg.ac.in </span><br>
                            </div>
                            <div style="margin-right: 36vw;"></div>
                            <div class=""
                                style=" text-align: right; display: flex; flex-direction:column; align-content: flex-end;">
                                <span>Don’t miss the magic</span>
                                <span>Sign up to receive event updates and notifications.</span><br>
                                <form action="/action_page.php">
                                    <input type="id" id="emailid" name="fname"
                                        style="background-color: transparent; border: 2px solid white; padding-right: 10%; margin-right: 2%;">
                                    <input type="submit" value="Submit"
                                        style="color: black; background-color: white; border: 0px; margin-top:1vw; padding-top:0.8%; padding-bottom: 0.8%; padding-left: 5%; padding-right: 5%;">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
                <hr style="margin: 0; background-color: white;">
                <div class="footer">
                    <div id="footer_main" class="container row">
                        <div id="footer_container">
                            <div id="footer_content">
                                Copyright © 2022 UDGAM Creatives, All rights reserved.
                            </div>
                            <div id="footer_icons">
                                <a href="https://www.facebook.com/ecell.iitg/" id="footer_icons2" target="_blank">
                                    <img class="facebook button" src="static files\facebook.svg"
                                        style="width: 32px; height:32px;">
                                </a>
                                <a href="https://twitter.com/ecelliitg" id="footer_icons2" target="_blank">
                                    <img class="twitter button" src="static files\twitter.svg"
                                        style="width: 32px; height:32px;">
                                </a>
                                <a href="https://www.linkedin.com/company/ecell-iitg/" id="footer_icons2" target="_blank">
                                    <img class="linkedin button" src="static files\linkedin.svg"
                                        style="width: 32px; height:32px;">
                                </a>
                                <a href="https://www.instagram.com/ecell_iitg/" id="footer_icons2" target="_blank">
                                    <img class="discord button" src="static files\instagram.svg"
                                        style="width: 32px; height:32px;">
                                </a>
                                <a href="https://www.youtube.com/user/iitgedc" id="footer_icons2" target="_blank">
                                    <img class="discord button" src="static files\youtube.svg"
                                        style="width: 32px; height:32px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
    
    
    <!-- message on inactive tab -->
    <%- include("./partials/inactive-tab-message.ejs") %>

    
        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>

        <script src="../carousel/main.js"></script>

        <script>
            window.onload = function () {
                load_event_page();
            };
        </script>

        <script>
            $(window).scroll(function () {
                $('nav').toggleClass('scrolled', $(this).scrollTop() > 30);
            });
        </script>
        <script>
            function showmore(){
                document.getElementById("CAReferral").style.display = 'block';
                
            }
            function showless(){
                document.getElementById("CAReferral").style.display = 'none';
            }
        </script>

        <script>
            function register() {
                let show = document.getElementById('ev-register');
                console.log(show);
                show.style.display = 'block';
                let hide = document.getElementById('pg-content-reg');
                hide.style.display = 'none';
            }
            function reg_back() {
                let show = document.getElementById('pg-content-reg');
                console.log(show);
                show.style.display = 'block';
                let hide = document.getElementById('ev-register');
                hide.style.display = 'none';
            }
        </script>


    <script>
        function copyID() {
        /* Get the text field */
        var copyText = document.getElementById("PassID");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 999999999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);

        /* Alert the copied text */
        alert("Copied : " + copyText.value);
    }
    </script>
    <script src="../js/hamberger.js"></script>

    <!-- three.js -->
    <script src="../js/three.js"></script>

    <script type="module" src="../js/top_sphere.js"></script>
</body>
</html>