<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href='https://fonts.googleapis.com/css?family=Permanent Marker' rel='stylesheet'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact-us.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="./font/stylesheet.css">
    <link rel="stylesheet" href="../css/hamberger.css">


  <!-- link for font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

	<title>Password Reset</title>
</head>
<body >

         <!-- navbar -->
    <%- include("./partials/nav.ejs") %>
        <div class="stars"></div>
        <div class="twinkling"></div>
        <div class="clouds"></div>

        <div class="main" style="padding-left: 10vw;padding-right: 10vw;">

            <p>Edit Password for <%= email%></p>
            <br>

            <form method = "POST" action = "passwordResetDone" >
                <div class="row justify-content-center modal-text">

                    <label for="opass">Enter Old Password</label>
                    <input type = "password" placeholder = "Old Password" name = "opass" id = "opass" required/><br><br>
                </div>
                <div class="row justify-content-center modal-text">

                    <label for="opass">Enter New Password</label>
                    <input type = "password" placeholder = "New Password" name = "npass" id = "npass" required/><br><br>
                </div>
                <div class="row justify-content-center modal-text">

                    <label for="opass">Enter Old Password</label>
                    <input type = "password" placeholder = "Confirm Password" name = "npass" id = "npass" required/><br><br>
                </div>
                <div class="row justify-content-center modal-text">
                    
                    <label for="confirmpass">Confirm</label>
                    <input type = "submit" value = "Confirm" id="confirmpass">
                </div>

            </form>
    
        </div>
    
     <!-- footer -->
     <%- include("./partials/footer.ejs") %>
     <!-- message on inactive tab -->
     <%- include("./partials/inactive-tab-message.ejs") %>
 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <script src="../js/hamberger.js"></script>

    <!-- three.js -->
    <script src="../js/three.js"></script>

    <script type="module" src="../js/top_sphere.js"></script>
</body>
</html>
