<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsors</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/hamberger.css">
    <link rel="stylesheet" href="../css/sponsors.css">
    <!-- <link rel="icon" href=""> -->
    <link rel="icon" href="../static files/sponsors/UDGAM logo (title).png" type="image/icon type">

    <!-- link for font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     
     
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    <div class="main">

         <!-- navbar -->
    <%- include("./partials/nav.ejs") %>
   
        
        <section class="section-padding">
            
            <br><br><br>
                <div class="container" >
                    
                    <!-- Title -->
                    <div class="row justify-content-between">
                        <div class="col-lg-8 col-xs-12" >
                            
                                <div class="">
                                    <h2>
                                        <strong class="main-title">
                                            SPONSORS
                                        </strong>  
                                    </h2>
                                    <h6 >
                                        The backbone of Udgam, without whose support Udgam wouldn’t have become what it is today.
                                    </h6>
                                </div>
                                <br>
                                <a target="_blank" href="/contactus" class="be-sp">
                                
                                    BECOME A SPONSOR

                                    <span id="button">
                                        <i class="fas fa-chevron-right"  style="color: #01AC86;top: 0px;"></i>
                                    </span>
                                
                                </a>
                                

                            <br>
                            <br>
                            <br>
                            <br>
                            
                        </div>

                        <div class="col-lg-4 ">
                            <div class="row justify-content-center align-items-start title-sponsor">
                                
                                <h3  class="title col-12 ">
                                    TITLE SPONSOR
                                </h3>
                            </div>
                            <div class="row justify-content-center title-sponsor-div" >
                                <a class="col-12 col-sm-12 " target="_blank" href="https://www.bosch-india-software.com/en/explore-and-experience/">
                                    <img class="title-sponsor-img" src="../static files/sponsors/BOSCH.png" alt="Sponsor" style="padding: 20px 20px">     
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <h2  class="title tit-extra">
                            ASSOCIATE TITLE SPONSOR
                        </h2>
                        
                        <div class="row" style="margin-bottom: 100px;margin-top: 10px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center asso-sponsor">
                                <a target="_blank" href="http://www.safexpress.com/" class="sponsor">
                                    <img src="../static files/sponsors/Safexpress.png" alt="Sponsor" class="sponsor-img" style="height: 100%;">
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div >
                        <h2  class="title">
                            OTHER SPONSORS
                        </h2>
                        
                        <div class="row justify-content-around">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                
                                    <a class="d-flex align-items-center flex-column" target="_blank" href="https://omlogistics.co.in/">
                                        <img src="../static files/sponsors/Om logistics.png" alt="Sponsor" class="sponsor-img">
                                        
                                        <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                            Logistics Partner
                                        </h6>
                                    </a>
                                
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.upraised.co/">
                                    
                                    <img src="../static files/sponsors/Upraised.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Title PMx Partner
                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://gotopitch.ai/">
                                    
                                    <img src="../static files/sponsors/GoToPitch.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Title Disrupt Partner	
                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.grabon.in/">
                                    
                                    <img src="../static files/sponsors/GrabOn.jpg" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Saving Partner	
                                    </h6>
                                </a>
                            </div>
                        
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="http://udgammemories.co.in">
                                    
                                    <img src="../static files/sponsors/Campus Memories.jpg" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Official Merchandise Partner	
                                    </h6>
                                </a>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://coincent.ai/">
                                    
                                    <img src="../static files/sponsors/Coincent.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Industrial Training and Project Partner	
                                    </h6>
                                </a>
                                
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.boudhikventures.com/">
                                    
                                    <img src="../static files/sponsors/Boudhik Venture.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Stratergy Partner	
                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://balsamiq.com/">
                                    
                                    <img src="../static files/sponsors/Balsamiq.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Cloud Partner	
                                    </h6>
                                </a>
                            </div>
                        
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://thehubjorhat.in/">
                                    
                                    
                                    <img src="../static files/sponsors/The hub jorhat.png" alt="Sponsor" class="sponsor-img">
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Incubation Partner	
                                        
                                    </h6>
                                </a>
                                
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://givemycertificate.com/">
                                    
                                    
                                    <img src="../static files/sponsors/Give my certificate.png" alt="Sponsor" class="sponsor-img">
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Digital Certificate Partner
                                        
                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://legal24by7.com/">
                                    
                                    
                                    <img src="../static files/sponsors/Legal24by7.jpg" alt="Sponsor" class="sponsor-img">
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Legal Partner	
                                        
                                    </h6>
                                </a>
                            </div>
                            
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.cofoundersplanet.com/">
                                    
                                    <img src="../static files/sponsors/Cofounders Planet.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Ecosystem Partner	
                                    </h6>
                                </a>    
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.instagram.com/sponsor_bull/?hl=en">
                                    
                                    
                                    <img src="../static files/sponsors/Sponsor Bull.png" alt="Sponsor" class="sponsor-img">
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Sponsor Partner	
                                        
                                    </h6>
                                </a>
                            </div>
                            <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="#">
                                    
                                    <img src="../static files/sponsors/Group 1.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Coding Partner
                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="#">
                                    
                                    <img src="../static files/sponsors/Group 1.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Coding Partner
                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="#">
                                    
                                    <img src="../static files/sponsors/Group 1.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto"  style="color: #01AC86;display: flex; justify-content: center;">
                                        Coding Partner
                                    </h6>
                                </a>
                            </div> -->
                          
                        </div>
                    </div>

                    <div style="margin-bottom: 120px;">
                        <h2  class="title">
                            EVENT PARTNERS
                        </h2>
                        
                        <div class="row" style="margin-top: 40px;">
                            
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-self-center text-center ">
                                <a target="_blank" href="https://draperstartuphouse.com/" class="sponsor event-partner">
                                    <img src="../static files/sponsors/Draper Startup House.png" alt="Sponsor" class="sponsor-img">
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-self-center text-center">
                                <a target="_blank" href="https://egghead.io/" class="sponsor event-partner">
                                    <img src="../static files/sponsors/Egghead.png" alt="Sponsor" class="sponsor-img">
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-self-center text-center">
                                <a target="_blank" href="https://www.voiceflow.com/" class="sponsor event-partner">
                                    <img src="../static files/sponsors/Voiceflow.png" alt="Sponsor" class="sponsor-img">
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-self-center text-center">
                                <a target="_blank" href="https://yesstartups.com/" class="sponsor event-partner">
                                    <img src="../static files/sponsors/Yesstartups.png" alt="Sponsor" class="sponsor-img">
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-self-center text-center sp-extra">
                                <a target="_blank" href="https://atharvo.in/interns/" class="sponsor event-partner" >
                                    <img src="../static files/sponsors/Atharvo.jpeg" alt="Sponsor" class="sponsor-img">
                                </a>
                            </div>
                            
                            
                        </div>
                    </div>

                    <div >
                        <h2  class="title">
                            MEDIA PARTNERS
                        </h2>

                        <br><br>
                        
                        <div class="row justify-content-around">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.campustimespune.com/">
                                    <img src="../static files/sponsors/Campus times pune.png" alt="Sponsor" class="sponsor-img">
                                        
                                        <h6 class="mt-auto" style="color: #01AC86;display: flex; justify-content: center;">
                                            	Media Partner	

                                        </h6>
                                    </a>
                                
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://youthincmag.com/">
                                    
                                    <img src="../static files/sponsors/Youth Incorporated.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto" style="color: #01AC86;display: flex; justify-content: center;">
                                        	Media Partner	

                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.lemonideas.in/">
                                    
                                    
                                    <img src="../static files/sponsors/Lemon Ideas.png" alt="Sponsor" class="sponsor-img">
                                    <h6 class="mt-auto" style="color: #01AC86;display: flex; justify-content: center;">
                                        	Media Partner	

                                    </h6>
                                </a>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 text-center sponsor-other">
                                <a class="d-flex align-items-center flex-column" target="_blank" href="https://www.noticebard.com/">
                                    
                                    <img src="../static files/sponsors/NoticeBard.png" alt="Sponsor" class="sponsor-img">
                                    
                                    <h6 class="mt-auto" style="color: #01AC86;display: flex; justify-content: center;">
                                        	Media Partner	
                                    </h6>

                                </a>
                            </div>
                        
                        </div>
                    </div>
                    <br><br>

                
                    <div style="margin-top: 160px;margin-bottom: 200px;">

                        <h2 class="title">
                            WANT TO BECOME A PART OF SOMETHING GREAT?
                        </h2>
                        
                        <div style="margin-top: 10px;margin-bottom: 25px;">
                            We at UDGAM, look forward to a long-term
                            relationship and assure you that we would go to any
                            lengths to realize the full potential of our mutual
                            commitments. Thus, we present our sponsor
                            mileages, open to your valuable suggestions and
                            modifications thereafter.                        </div>
                        
                        
                            <a target="_blank" href="/contactus" class="be-sp" style="margin-bottom: 204px;">
                                
                                    CONNECT WITH THE TEAM

                                    <span id="button">
                                        <i class="fas fa-chevron-right" style="color: #01AC86;"></i>
                                    </span>
                                
                            </a>
                        
                        
                    </div>
                    
                </div>
                
        </section>

        
          <!-- footer -->
    <%- include("./partials/footer.ejs") %>
    </div>


    <!-- message on inactive tab -->
    <%- include("./partials/inactive-tab-message.ejs") %>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="../navbar.js"></script>
    <script src="../js/hamberger.js"></script>

    <!-- three.js -->
    <script src="../js/three.js"></script>

    <script type="module" src="../js/top_sphere.js"></script>


</body>
</html>