@font-face {
    font-family: 'Texta';
    src: url('Texta-Regular.eot');
    src: local('Texta'), local('Texta-Regular'),
        url('Texta-Regular.eot?#iefix') format('embedded-opentype'),
        url('Texta-Regular.woff2') format('woff2'),
        url('Texta-Regular.woff') format('woff'),
        url('Texta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------- end ------------------------- */
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

*{
    font-family: Texta;
    color: white;
    font-size: 24px;
}

@media (max-width : 768px) {
    *{
        font-size: 12px;
    }
    .teams{
        font-size: 12px !important;
        height: 5vh !important;
    }
}


.main{
    margin-left: 10vw;
    margin-top: 10vh;
    margin-right: 10vw;
    margin-bottom: 5vh;
}

.mainheading{
    margin-bottom: 8vh;
    
}

.heading-main{
  color: #00B0E0;

}
.heading{
    font-size : 3.5vw;
    font-weight: 800;
}

.teams{
    background-size: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    
    margin-bottom: 6vh;
    letter-spacing: 1px;
    margin-top: 6vh;
    cursor: pointer;

    font-family: Texta;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 101px;
    /* identical to box height */


    /* #F4FDFF */

    color: #F4FDFF;

}

.teamshidden{
    display: flex;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 50px 0 !important;
}

.teams span{
    font-size: 4.8vh;
    font-weight: 900;
    letter-spacing: 1px;
}

.team_description{
    margin:25px;
    margin-top: 0;
    margin-right: 0px;
    padding-right: 20px;
    width: 50%;
    border-right: 2px solid white;
}



.team_members{

    margin-bottom:35px;
    margin-right:35px;
    width: 50%;
    padding-top: 10px ;

}

.team_members div{
    text-align: end;
    align-items: end;
    margin-bottom:0%;
}

.team_members1,.team_members2{
  
font-family: Texta !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 24px !important;
line-height: 34px !important;
letter-spacing: 0.01em !important;

color: #FFFFFF !important;


}

.content{
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 700px) {
    .teamshidden{
        flex-direction: column;
    }

    .mobileheadingteam{

        display: flex !important;
        justify-content: center;
    }

    .team_description{
        display: none;
    }

    .team_members1,.team_members2{
      padding:0  !important;
    }
    
    .team_members{
        
        margin-top: 0%;
        width: 100%;
        
        
    }

    .team_members div{
        list-style-type:none; 
        text-align: center;
    }

    .team_members div div{
      line-height: 20px !important;
    }

    .team_members1{
        align-items: start !important;
    }

    .creatives_img,.disrupt_img,.growth_img,.intern_img,.ls_img,.marketing_img,.initiatives_img,.pmx_img{

      background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

    }

    input[type="email"],button[type="Submit"]
    {
      
    }
    

}

.creatives_img,.disrupt_img,.growth_img,.intern_img,.ls_img,.marketing_img,.initiatives_img,.pmx_img{

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.team-member-name{
  color: white;
  text-decoration: none ;
}


.creativesdiv{
    background-image: url('../static files/creatives.png');
    background-repeat: no-repeat;
  }
  .creatives_img{

    background-image: url('../static files/creatives.png');
    background-repeat: no-repeat;
    /* background-image: url('../static files/Quick gradient test.png'); */
}
.creativesdivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}
.disruptdiv{
    background-image: url('../static files/disrupt.png');
}
.disrupt_img{

  background-image: url('../static files/disrupt.png');
  /* background-image: url('../static files/Quick gradient test.png'); */
}
.disruptdivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}
.growthdiv{
    background-image: url('../static files/growth.png');
}
.growth_img{

  background-image: url('../static files/growth.png');
  /* background-image: url('../static files/Quick gradient test.png'); */
}
.growthdivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}
.interndiv{
    background-image: url('../static files/internfair.png');
}
.intern_img{

  background-image: url('../static files/internfair.png');
  /* background-image: url('../static files/Quick gradient test.png'); */
}
.interndivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}
.lsdiv{
    background-image: url('../static files/ls.png');
}
.ls_img{

  background-image: url('../static files/ls.png');
  /* background-image: url('../static files/Quick gradient test.png'); */
}
.lsdivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}
.marketingdiv{
    background-image: url('../static files/marketing.png');
}
.marketing_img{

  background-image: url('../static files/marketing.png');
  /* background-image: url('../static files/Quick gradient test.png'); */
}
.marketingdivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}
.pmxdiv{
    background-image: url('../static files/pmx.png');
}
.pmx_img{

  background-image: url('../static files/pmx.png');
  /* background-image: url('../static files/Quick gradient test.png'); */
}
.pmxdivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}
.initiativesdiv{
    background-image: url('../static files/initiatives.png');
}
.initiatives_img{

  background-image: url('../static files/initiatives.png');
  /* background-image: url('../static files/Quick gradient test.png'); */
}
.initiativesdivhidden{
background-color: rgba(0, 0, 0, 0.3);
backdrop-filter: blur(10px);
}

@media screen and (max-width: 768px) {
  .bottom{
    margin-top: 0px !important;
  }
}
  


.bottom{
    margin-top:20vh;
}



/* center the blockquote in the page */
.blockquote-wrapper {


  padding: 0 20px;
  margin-bottom: 20px;
}

/* Blockquote main style */
.blockquote {

   font-family: 'Barlow Condensed', sans-serif;
   max-width: 650px;
   
   align-self: center;
}

/* Blockquote header */
.blockquote h1 {
   font-family: 'Abril Fatface', cursive;
   position: relative; /* for pseudos */
   color: #00B0E0;
   font-size: 20px !important;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   border: 2px solid rgb(255, 0, 0) !important;
   border: solid 2px;
   border-radius:20px;
   padding: 20px;
}


/* increase header size after 600px */
@media all and (min-width: 600px) {
   .blockquote h1 {
       font-size: 3rem;
       line-height: 1.2;
  }

}



/* Blockquote footer */

  h1 {
    margin-top: 0;
    font-size: 2em;
    color: #4f7482;
    font-weight: 700;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #c2c2c2;
  }
  
  blockquote {
    width: 100%;

    padding: 10px !important;
    position: relative;
    background: #c2c2c2;
    margin-bottom: 28px;
  }
    
  blockquote p {
      font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 28px;
      margin: 0;
      font-size: 1.5em;
      color:black;
      opacity: .8;
      font-style:italic;
      font-weight: 400;
    }
      blockquote p::before {
        top: 0px;
        left: 5px;
        color: #00B0E0;
        content: "“";
        font-size: 3em;
        position: absolute;
        text-shadow: -3px 0 #c2c2c2;
      }
      blockquote p::after {
        color: #00B0E0;
        content: "”";
        bottom: -15px;
        right: 4px;
        font-size: 3em;
        position: absolute;
        text-shadow: 3px 0 #c2c2c2;
      }
    
  @media screen and (min-width: 750px) {
    
    blockquote {
      padding-right: 0;
      width: 100%;
    }
      
      blockquote p {
        font-size: 1.25em !important;
        padding: 10px 0;
      }
        blockquote p::before {
          top: 2px;

        }
        blockquote p::after {
          bottom: -25px;
        }
      }
    