<% if(userinfo.upass == 1){ %>
  <p> Udgam Pass : YES</p><br>
 <% }else{ %>
    
   <p>Udgam Pass : NO</p><br>

    <% } %>


 <h3>Events</h3>
 
 <% if(userinfo.pmx == 1){ %>
   <p> PMx : YES</p><br>
  <% }else{ %>
     
    <p>Pmx : NO</p><br>
 
     <% } %>
   
     <% if(userinfo.disrupt == 1){ %>
      <p> Disrupt : YES</p><br>
     <% }else{ %>
        
       <p>Disrupt : NO</p><br>
    
        <% } %>

        <% if(userinfo.dframe == 1){ %>
         <p> Dframe : YES</p><br>
        <% }else{ %>
           
          <p>Dframe : NO</p><br>
       
           <% } %>

           <% if(userinfo.coding_collab == 1){ %>
            <p> Coding Collab : YES</p><br>
           <% }else{ %>
              
             <p>Coding Collab : NO</p><br>
          
              <% } %>

              <% if(userinfo.strategy_storm == 1){ %>
               <p> Strategy Storm : YES</p><br>
              <% }else{ %>
                 
                <p>Strategy Storm : NO</p><br>
             
                 <% } %>

                 <% if(userinfo.gaming == 1){ %>
                  <p> Gaming : YES</p><br>
                 <% }else{ %>
                    
                   <p>Gaming : NO</p><br>
                
                    <% } %>

<h3>Workshops</h3>
               <% if(userinfo.w1 == 1){ %>
                  <p> Workshop 1 : YES</p><br>
               <% }else{ %>
                  
                  <p>Workshop 1 : NO</p><br>
               
                  <% } %>
        
                  <% if(userinfo.w2 == 1){ %>
                     <p> Workshop 2 : YES</p><br>
                  <% }else{ %>
                     
                     <p>Workshop 2 : NO</p><br>
                  
                     <% } %>

               <% if(userinfo.w3 == 1){ %>
                  <p> Workshop 3 : YES</p><br>
               <% }else{ %>
                  
                  <p>Workshop 3 : NO</p><br>
               
                  <% } %>

               <% if(userinfo.w4 == 1){ %>
                  <p> Workshop 4 : YES</p><br>
               <% }else{ %>
                  
                  <p>Workshop 4 : NO</p><br>
               
                  <% } %>

               <% if(userinfo.w5 == 1){ %>
                  <p> Workshop 5 : YES</p><br>
               <% }else{ %>
                  
                  <p>Workshop 5 : NO</p><br>
               
                  <% } %>
        
      